<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Velvet_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GerarPDF</display-name>
    <servlet-name>GerarPDF</servlet-name>
    <servlet-class>Servlets.GerarPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GerarPDF</servlet-name>
    <url-pattern>/GerarPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioServlet</display-name>
    <servlet-name>RelatorioServlet</servlet-name>
    <servlet-class>Servlets.RelatorioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioServlet</servlet-name>
    <url-pattern>/RelatorioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listarProdutos</servlet-name>
    <servlet-class>Servlets.ListaProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/lancamentos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/promocoes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/masculino</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/feminino</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/aromas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/neutros</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/citricos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarProdutos</servlet-name>
    <url-pattern>/listar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoServlet</display-name>
    <servlet-name>CarrinhoServlet</servlet-name>
    <servlet-class>Servlets.CarrinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoServlet</servlet-name>
    <url-pattern>/CarrinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarQuantidade</display-name>
    <servlet-name>AlterarQuantidade</servlet-name>
    <servlet-class>Servlets.AlterarQuantidade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarQuantidade</servlet-name>
    <url-pattern>/AlterarQuantidade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverProduto</display-name>
    <servlet-name>RemoverProduto</servlet-name>
    <servlet-class>Servlets.RemoverProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverProduto</servlet-name>
    <url-pattern>/RemoverProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarCarrinhoServlet</display-name>
    <servlet-name>AdicionarCarrinhoServlet</servlet-name>
    <servlet-class>Servlets.AdicionarCarrinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarCarrinhoServlet</servlet-name>
    <url-pattern>/AdicionarCarrinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilUsuarioServlet</display-name>
    <servlet-name>PerfilUsuarioServlet</servlet-name>
    <servlet-class>Servlets.PerfilUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilUsuarioServlet</servlet-name>
    <url-pattern>/PerfilUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaClientesServlet</display-name>
    <servlet-name>ListaClientesServlet</servlet-name>
    <servlet-class>Servlets.ListaClientesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaClientesServlet</servlet-name>
    <url-pattern>/ListaClientesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaProdutosADM</display-name>
    <servlet-name>ListaProdutosADM</servlet-name>
    <servlet-class>Servlets.ListaProdutosADM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaProdutosADM</servlet-name>
    <url-pattern>/ListaProdutosADM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarProdutoServlet</display-name>
    <servlet-name>AtualizarProdutoServlet</servlet-name>
    <servlet-class>Servlets.AtualizarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarProdutoServlet</servlet-name>
    <url-pattern>/AtualizarProdutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarMarcaServlet</display-name>
    <servlet-name>adicionarMarcaServlet</servlet-name>
    <servlet-class>Servlets.adicionarMarcaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarMarcaServlet</servlet-name>
    <url-pattern>/adicionarMarcaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarCupom</display-name>
    <servlet-name>adicionarCupom</servlet-name>
    <servlet-class>Servlets.adicionarCupom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarCupom</servlet-name>
    <url-pattern>/adicionarCupom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adicionarAdm</display-name>
    <servlet-name>adicionarAdm</servlet-name>
    <servlet-class>Servlets.adicionarAdm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adicionarAdm</servlet-name>
    <url-pattern>/adicionarAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirItemCarrinhoServlet</display-name>
    <servlet-name>ExcluirItemCarrinhoServlet</servlet-name>
    <servlet-class>Servlets.ExcluirItemCarrinhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirItemCarrinhoServlet</servlet-name>
    <url-pattern>/ExcluirItemCarrinhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPedidosServlet</display-name>
    <servlet-name>ListaPedidosServlet</servlet-name>
    <servlet-class>Servlets.ListaPedidosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPedidosServlet</servlet-name>
    <url-pattern>/ListaPedidosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarcasCategorias</display-name>
    <servlet-name>MarcasCategorias</servlet-name>
    <servlet-class>Servlets.MarcasCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcasCategorias</servlet-name>
    <url-pattern>/MarcasCategorias</url-pattern>
  </servlet-mapping>
</web-app>